@media (max-width: 1921px) {}

@media (max-width: 1367px) {}

@media (max-width: 1025px) {}

@media (max-width: 812px) {
/* ==================================================
    Encabezado
================================================== */
    #logo{
        margin: 0 auto;
    }
    .barra-blanca .sesion .usuario{
        border: 0;
    }
/* ==================================================
    Encabezado
================================================== */

/* ==================================================
    Autorizaciones
================================================== */

.checkTipoDos [type="checkbox"]:not(:checked)+.text, .checkTipoDos [type="checkbox"]:checked+.text{
    padding-left: 15%;
}

/* ==================================================
    Autorizaciones
================================================== */

/* ==================================================
    Generales
================================================== */
    .dis-out-ipad-mov{display: none;}
    .dis-in-ipad-mov{display: block;}
    .dis-in-ipad-mov-inl{display: inline;}
    .w-total{width: 100%;}
/* ==================================================
    Generales
================================================== */

}

@media (max-width: 737px) {
.w-cuatro{
    width: 100%!important;
}

/* ==================================================
    Encabezado
================================================== */
    .progressbar li span{
        display: none;
    }

    .progressbar li{
        width: 31%;
    }
    .progressbar .DosElementos{width:48%;}
    .barra-blanca .sesion{
        width: 100%;
        float: none;
        text-align: center;
        height: 35px;
        margin-top: 15px;
    }
/* ==================================================
    Encabezado
================================================== */
/* ==================================================
    Cajas
================================================== */
.caja-informativaDatos .textoTipoDos,
.caja-informativaDatos .textoTipoTres,
.caja-informativaDatos .textoTipoUno{
    font-size: 11pt;
}
/* ==================================================
    Cajas
================================================== */
/* ==================================================
    Botones
================================================== */
.boton-amarillo,
.boton-amarillo-secundario,
.boton-amarillo-terceario {
    width: 100%;
    margin-bottom: 20px;
}
/* ==================================================
    Botones
================================================== */

/* ==================================================
    Autorizaciones
================================================== */

.checkTipoUno [type="checkbox"]:not(:checked)+.text, .checkTipoUno [type="checkbox"]:checked+.text {
    padding-left: 15%;
}

/* ==================================================
    Autorizaciones
================================================== */

/* ==================================================
    TABS
================================================== */

.tab {
    padding: 0px 30px;
    font-size: 12pt;
}

.sub-line {
    width: 150px!important;
}

/* ==================================================
    TABS
================================================== */

/* ==================================================
    Generales
================================================== */
.dis-out-mov{display: none;}
.dis-in-mov{display: block;}
/* ==================================================
Generales
================================================== */
}

@media (max-width: 668px) {}

@media (max-width: 569px) {}

@media (max-width: 481px) {}

@media (max-width: 415px) {}

@media (max-width: 376px) {
/* ==================================================
    Encabezado
================================================== */
#logo{
    width: 100%;
}



/* ==================================================
    Encabezado
================================================== */

/* ==================================================
    TABS
================================================== */

.tab {
    padding: 0px 25px;
    font-size: 11pt;
}

.sub-line {
    width: 130px!important;
}

/* ==================================================
    TABS
================================================== */

}

@media (max-width: 321px) {

/* ==================================================
    TITULARES
================================================== */

    .titularTipoTres .subtitular span {
        font-size: 11pt;
        line-height: 11pt;
    }

/* ==================================================
    TITULARES
================================================== */

}