<div class="page">
  <div class="container">
    <div class="row pad-bot-20">
      <div class="col-12 col-lg-12">
        <div class="titularTipoUno ">Lo que necesitas, ¡solicítalo en línea ahora!</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1" *ngIf="flujos != null && flujos.length > 0">
        <div class="row centerContent">
          <div class="col-12 col-sm-4 mar-bot-20" *ngFor="let flujo of flujos">           
            <div class="caja-informativa-trans" *ngIf="flujo.codigoFlujo == flujoTarjeta">
              <img style="width: 100%;" [src]="flujo.urlImagenFlujo">
              <div class="titularTipoDos txt-left mar-top-bot-20">
                {{ flujo.nombreFlujo }}
              </div>
              <div class="titularTipoCuatro txt-left mar-top-bot-20">
                Lo que necesitas, ahora cerca de ti.
              </div>
              <ul class="listadoTipoUno pad-lef-20 mar-bot-40">
                <li>Avances en efectivo en cajeros automáticos.</li>
                <li>Acumulación de millas y beneficios exclusivos.</li>
                <li>Programa de asistencias.</li>
              </ul>
              <button id="btnflujoTarjeta" class="boton-amarillo" type="button" (click)="redireccionarLogin(flujoTarjeta);">
                Solicitar
                <div class="trig-uno"></div>
                <div class="trig-dos"></div>
              </button>
              <div class="clean"></div>
            </div>
            <div class="caja-informativa-trans" *ngIf="flujo.codigoFlujo == flujoCredito">
              <img style="width: 100%;" [src]="flujo.urlImagenFlujo">
              <div class="titularTipoDos txt-left mar-top-bot-20">
                {{ flujo.nombreFlujo }}
              </div>
              <div class="titularTipoCuatro txt-left mar-top-bot-20">
                Hoy puedes realizar tus propósitos.
              </div>
              <ul class="listadoTipoUno pad-lef-20 mar-bot-40">
                <li>Exclusivo para clientes Banco Pichincha.</li>
                <li>Desembolso inmediato.</li>
                <li>Sin necesidad de entregar documentos.</li>
              </ul>
              <button id="btnflujoCredito" class="boton-amarillo" type="button" (click)="redireccionarLogin(flujoCredito);">
                Solicitar
                <div class="trig-uno"></div>
                <div class="trig-dos"></div>
              </button>
              <div class="clean"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
